@media only screen and (max-width: 425px) {
    .container {
        margin-top: 20%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 426px) {
    .container {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-top: 8%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

hr.solid {
    border-top: 3px solid #bbb;
  }
